---
import Navbar from "../components/Navbar.astro";
import Layout from "../layouts/Layout.astro";
import Separator from "../components/Separator.astro";
import ProfilePicture from "../components/ProfilePicture.astro";
import About from "../components/About.astro";
import Technologies from "../components/Technologies.astro";
import Interesting from "../components/Interesting.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="JeanDev">
    <Navbar />
    <main class="mt-16 scroll-mt-36" id="Home">
        <ProfilePicture />
        <Separator/>
        <About/>
        <Technologies />
        <Interesting/>
        
    </main>


</Layout>

