<section id="about"
class="mx-auto flex justify-evenly mb-8 scroll-mt-36 lg:w-[80%] lg:flex-row lg:px-10 sn:w-[60%] xs:w-full xs:flex-col-reverse xs:">
    
    <img 
    src="https://img.freepik.com/foto-gratis/equipos-oficina-modernos-necesidades-comunicacion-global-generadas-ia_24640-87135.jpg?t=st=1715122228~exp=1715125828~hmac=948ad63a40a8e729ff8d4d652690b2344dfb8ac2e1bd6bf5f4b678eec9dcea50&w=826";
    alt="#"
    class="object-cover mx-auto rounded-lg lg:w-[40%] lg:h-52 sn:nl-0 xs:w[90%] xs:ml-5 xs:h-[150px]"
    />

    <div class="flex flex-col justify-center gap-y-3 text-center lg-w-[50%]
     lg:mx-0 md:mb-4 xs:w-[80%] xs:mb-6 xs:mx-auto">
        <h2 class=" font-black text-[50px] xs:text-6xl">  
            Hello I'm
             <span class="bg-clip-text text-transparent bg-gradient-to-r from-purple-500 from-30% via-blue-500 via-70% via-indigo-500-400S xl:inline xs:px-0"> Jeanpierre </span>
        </h2>
        <p class="opacacit-60 text-[17px]">
            <span>Web Developer wiht 2 years of experience</span>
            <span>My Hobbies are learn new programming languages like flutter or laravel</span>
            <span>and play videogames.</span>
        </p>
    </div>
</section>