<section
    id="about"
    class="mx-auto flex justify-evenly mb-8 scroll-mt-36 lg:w-[80%] lg:flex-row lg:px-10 sn:w-[60%] xs:w-full xs:flex-col-reverse xs:center xs:justify-center"
>
    <img
        src="https://img.freepik.com/foto-gratis/equipos-oficina-modernos-necesidades-comunicacion-global-generadas-ia_24640-87135.jpg?t=st=1715122228~exp=1715125828~hmac=948ad63a40a8e729ff8d4d652690b2344dfb8ac2e1bd6bf5f4b678eec9dcea50&w=826"
        alt="#"
        class="aling-center h-full object-cover mx-auto rounded-lg lg:w-[40%] lg:h-52 sn:nl-0 xs:w[90%] xs:h-60 min-h-fit max-w-[80%] items-center: justify-center"
    />
    <div
        class="flex flex-col justify-center items-center gap-y-3 text-center lg:w-[50%] lg:mx-auto md:mb-4 xs:w-[80%] xs:mb-6 xs:mx-auto"
    >
        <h2 id="about-title" class="font-black text-[50px] xs:text-6xl">
            Hello I'm
            <span
                class="bg-clip-text text-transparent bg-gradient-to-r from-green-400
         from-30% via-sky-500 via-70% to-indigo-500 xl:inline xs:px-0"
            >
                Leroy Perryman
            </span>
        </h2>
        <p class="opacity-80 text-[18px] text-center justify-center lg:mx-auto">
            Developer with 1 year of experience in web development.
        </p>
        <p class="opacity-80 text-[18px] text-align: justify-center lg:mx-auto">
            I'm a Systems Engineering graduate, passionate about technology and
            problem-solving, with a creative approach to innovative solutions.
            Over the past year, I've gained significant experience in both
            backend and frontend development. My strongest skills are in backend
            development, but I also manage frontend tasks. This journey has been
            fueled by my deep, long-standing interest in the world of software
            development. If you're interested in the projects I've worked on,
            feel free to check them out.
            <div class="center">
                <a href="Projects">
                    <button class="btn badge2">My portfolio</button>
                </a>
            </div>
        </p>
    </div>
</section>
