<section id="about">
    <img 
    src="https://img.freepik.com/foto-gratis/equipos-oficina-modernos-necesidades-comunicacion-global-generadas-ia_24640-87135.jpg?t=st=1715122228~exp=1715125828~hmac=948ad63a40a8e729ff8d4d652690b2344dfb8ac2e1bd6bf5f4b678eec9dcea50&w=826";
    alt="#"
    class="object-cover mx-auto rounded-lg lg:w-[40%] lg:h-52"
    />
</section>