
    <div class=" first:text-center sm:text-center w-[75%] mx-auto mt-10 mb-10">
        <h2
            class="underline decoration-sky-600 font-black w-fit md:mx-0 md:ml-5 sm:text-6xl xs:text-[40px] xs:text-center 
            sm:text-center "
        >
            Interesting
        </h2>
    </div>
    
    <div class="center flex flex-col justify-center gap-y-3 text-center: justify lg-w-[50%]
    lg:mx-0 md:mb-4 xs:w-[80%] xs:mb-6 xs:mx-auto">
        <p class="opacacit-60 text-[20px] text-center justify-right ">
                My main interests are in backend development, but I also work in the frontend and am always
                open to trying something new. I'm passionate about computers, playing video games, and ethical
                hacking. That's why I'm always looking for new job opportunities to enhance my skills.

        </p>
    </div>


