
    <div class=" first:text-center sm:text-center w-[75%] mx-auto mt-10 mb-10">
        <h2
            class=" font-black w-fit md:mx-0 md:ml-5 sm:text-6xl xs:text-[40px] xs:text-center 
            sm:text-center "
        >
            Interesting
        </h2>
    </div>
    
    <div  class="flex flex-col justify-center items-center gap-y-3 text-center lg:w-[50%] lg:mx-[20%] md:mb-4 xs:w-[80%] xs:mb-6 xs:mx-auto">
        <p class="opacity-80 text-[18px] text-center flex justify-center md:justify-center sm:justify-center ">
                My main interests are in backend development, but I also work in the frontend and am always
                open to trying something new. I'm passionate about computers, playing video games, and ethical
                hacking. That's why I'm always looking for new job opportunities to enhance my skills.

        </p>
    </div>


