<article
    class="w-full h-[500px] overflow-hidden flex flex-col justify-evenly items-center relative md:px-20 xs:px-0"
>
    <header class="text-center absolute top-0 z-10">
        <h1 class="text-4xl font-signika-negative">Jean Dev</h1>
        <span class="badge">Developer</span>
    </header>
    <img
        src="../src/img/profileimg.avif"
        alt=""
        class="object-cover fill h-[900px] object-top lg:-bottom-[20%] lg:w-[800px] md:w-[1000px]
      md:-bottom-[20%] xxs:-bottom-[30%] xs:w-[1500px] xs:-bottom-[10%] text-white"
    />
</article>
