<article class=" w-full h-[500px] overflow-hidden flex flex-col justify-center items-center relative md:px-20 xs:px-0">
    <header class="text-center absolute top-0 z-10">
        <span class="block font-bold sm:text-[55px] sm:leading-[55px]">Loremp Impsu Indolori</span>
        <span class="block font-bold sm:text-[55px] sm:leading-[55px]">Inri impsu doliri</span>
        <span class="block font-bold sm:text-[55px] sm:leading-[55px]">Add</span>
    </header>
    <img src="https://images.unsplash.com/photo-1511367461989-f85a21fda167?q=80&w=1631&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="#" class="object-cover relative h-[900px]
    object-top lg:-bottom-[20%] lg:w-[800px] md:w-[1000px] md:-bottom-[30%] xxs:-bottom-[30%] xs:w-[1500px] xs:-bottom-[10%]">
</article>