<script>
    const words = ["Hello, i am Jeanpierre", "Programmer, Web Developer and Ethical Hacker"];
let i = 0;
let j = 0;
let currentWord = "";
let isDeleting = false;

function type() {
  currentWord = words[i];
  if (isDeleting) {
    const typewriterElement = document.getElementById("typewriter");
    if (typewriterElement) {
        typewriterElement.textContent = currentWord.substring(0, j-1);
    }
    j--;
    if (j == 0) {
      isDeleting = false;
      i++;
      if (i == words.length) {
        i = 0;
      }
    }
  } else {
    const typewriterElement = document.getElementById("typewriter");
    if (typewriterElement) {
        typewriterElement.textContent = currentWord.substring(0, j+1);
    } 
    j++;
    if (j == currentWord.length) {
      isDeleting = true;
    }
  }
  setTimeout(type, 130);
}

type();
</script>
<article class=" w-full h-[500px] overflow-hidden flex flex-col justify-center items-center relative md:px-20 xs:px-0">
    <header class="text-center absolute top-0 z-10">
        <h1 id="typewriter" class="text-3xl font-press-start"></h1>
    </header>
    <img src="/src/img/profileimg.avif" 
     class="object-cover fill h-[900px] object-top lg:-bottom-[20%] lg:w-[800px] md:w-[1000px]
      md:-bottom-[20%] xxs:-bottom-[30%] xs:w-[1500px] xs:-bottom-[10%]">
</article>