<div class="seperator border-t-[1px] animate-pulse flex">
    <style>
        .seperator {
            border-image-source: linear-gradient(to left, #000, #0084ff, #000);
            border-image-slice: 1;
            background-image: radial-gradient(at top center, #006eff41, #000 60%);
                
            height: 6rem;
            width: 70%;
            margin-inline: auto;
        }
    </style>
</div>