/*Body template theme*/
html {
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    line-height: 1.5;
    color: #333;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.body-theme
{
    background: linear-gradient(180deg, rgba(48,48,48,1) 50%, rgba(0,0,0,1) 100%);
}

/*text colors*/
h2,p,span,a,small{
    color: white;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}


/*Badge name*/
.badge {
    background-color: #0099e0;
    border-radius: 6px;
    font-weight: 600;
    font-size: .85rem;
    padding: 0.3em 0.6em 0.2em;
}

.badge2 {
    background-color: #2c9b64;
    border-radius: 6px;
    font-weight: 600;
    font-size: .85rem;
    padding: 0.3em 0.6em 0.2em;
}


.header-animate[data-astro-cid-4rde66u6] {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    animation: reduce-header linear both;
    animation-timeline: scroll;
    animation-range: 0 150px;
}

/*Colors for the nav backdrops buttons*/
.hover\:bg-brand-gray\/5:hover {
    background-color: #acb5c70d;
}
.hover\:border-brand-gray\/10:hover {
    border-color: #acb5c71a;
}
.hover\:bg-brand-gray\/5:hover {
    background-color: #acb5c70d;
}
.hover\:border-brand-gray\/10:hover {
    border-color: #acb5c71a;
}

